# Laboratory exercise 4

In this laboratory exercise you will use the questionnaire and answers given below

In [1]:
import pandas as pd

In [2]:
qdf = pd.DataFrame({'Q1': [1, 2, 2, 3, 2, 2, 3, 3, 2, 3],
                    'Q2': [1, 1, 1, 2, 3, 3, 2, 3, 3, 3],
                    'Q3': [1, 1, 2, 1, 2, 3, 3, 3, 2, 3]})

In [3]:
display(qdf.T)

    0  1  2  3  4  5  6  7  8  9
Q1  1  2  2  3  2  2  3  3  2  3
Q2  1  1  1  2  3  3  2  3  3  3
Q3  1  1  2  1  2  3  3  3  2  3

1. Write a function to detrmine the realiability of the questionnaire answers with Cronbach's Alpha.

$$r_{xy} = \dfrac{\sum_{i=1}^n (x_i - \bar x)(y_i - \bar y)}{\sqrt{\sum_{i=1}^n (x_i - \bar x)^2 \sum_{i=1}^n (y_i - \bar y)^2}}$$

In [4]:
def calc_corr(df):
    # funkcija koja vraća korelacijsku matricu između svih parova stupaca
    # u df objektu koristeći gornju formulu
    out = []
    cols = df.columns # imena stupaca
    for colx in cols:
        out.append([])
        for coly in cols:
            # inicijalizacija varijabli potrebnih za izračun
            # vrijednosti korelacije između stupaca colx i coly
            xbar = df[colx].mean()
            ybar = df[coly].mean()
            numerator = 0
            d_sum_x = 0
            d_sum_y = 0
            for i in range(len(df)):
                # za sve retke tablice računa se omjer suma i korijena umnoška suma prema funkciji
                numerator += (df.loc[i, colx]-xbar)*(df.loc[i, coly]-ybar)
                d_sum_x += (df.loc[i, colx]-xbar)**2
                d_sum_y += (df.loc[i, coly]-xbar)**2
            denominator = (d_sum_y*d_sum_x)**(1/2)
            # dodatak retka u korelacijsku matricu
            out[-1].append(numerator/denominator)
    return pd.DataFrame(out)

In [5]:
corr_matrix_df = calc_corr(qdf)
display(corr_matrix_df)

          0         1         2
0  1.000000  0.427144  0.493526
1  0.424795  1.000000  0.658090
2  0.484544  0.658524  1.000000

In [6]:
corr_bar = (corr_matrix_df.iloc[0,1]+corr_matrix_df.iloc[0,2]+corr_matrix_df.iloc[1,2])/3
c_alpha = 3*corr_bar/(1+(3-1)*corr_bar)

print(f"Cronbach`s alpha of this questionairre is {round(c_alpha, 3)}.")

Cronbach`s alpha of this questionairre is 0.769.

2. Explain the differences between in-house data labeling, crowdsourcing and outsourcing.

### In-house data labeling
- means you already have annotators **within your company** that go through the datasets and label them according to your needs.
- an example is ex PhotoMath - they hired students to annotate the content provided by their users.

### Crowdsourced data labeling
- means you use "annotators" **outside** your company that label the datasets without control or commitment, but **for free**, **little by little**.
- the idea is to find a lot of volunteers either in a "I'm not a robot" scheme or in another contributing platform explicit about the intentions.

### Outsourced data labeling
- means you **hire** annotators from another company/agency that label the datasets according to your quality benchmarks, for an agreed **fee**.

#

3. Explain the main differences between annotation for image classification, object detection and image segmentation.

Image classification is the annotation type where the annotator appends labels to images related to the **category** of the item(s) represented in the images.\
Object detection is the form of annotation that **maps** the objects of interest in the image or video to **their position constrained** by a box, a circle or another border.\
Image segmentation may be understood the nex level of object detection where the annotations include **wrapping individual objects** along their **contours** in a separate way, **apart from other objects**, and the background.