In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1. Load the cleaned dataset from the last exercise. If you haven't saved the dataset, rerun the exercise and save the final dataset.

In [3]:
org_df = pd.read_csv("lab1.csv", index_col=0)
df = org_df.copy()
display(df)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore,Gender_female,Gender_male,LunchType_free/reduced,LunchType_standard
0,female,2,1,standard,1,1,1,1,3.0,1,1,71,71,74,1.0,0.0,0.0,1.0
1,female,2,5,standard,1,1,2,1,0.0,2,0,69,90,88,1.0,0.0,0.0,1.0
2,female,1,3,standard,1,2,2,1,4.0,1,1,87,93,91,1.0,0.0,0.0,1.0
3,male,0,0,free/reduced,1,1,0,0,1.0,2,0,45,56,42,0.0,1.0,1.0,0.0
4,male,2,5,standard,1,1,2,1,0.0,1,0,76,78,75,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29112,female,3,2,standard,1,2,2,0,2.0,1,0,59,61,65,1.0,0.0,0.0,1.0
29113,male,4,2,standard,1,2,1,0,1.0,0,0,58,53,51,0.0,1.0,0.0,1.0
29114,female,2,2,free/reduced,0,1,2,0,1.0,0,0,61,70,67,1.0,0.0,1.0,0.0
29115,female,3,0,standard,0,1,1,0,3.0,1,0,82,90,93,1.0,0.0,0.0,1.0
29116,male,1,5,standard,1,1,0,0,1.0,1,0,64,60,58,0.0,1.0,0.0,1.0

2. a) Find the mean, median and average scores in mathematics, reading and writing. <br>
   b) Find the mean, median and average scores for males and females.<br>
   c) What is the coefficient of variation of the scores? <br>

In [59]:
# a)
stat_fns = ["mean", "median", "std"] # pretpostavljam da je average lapsus za standardnu devijaciju
display_stat = lambda data: display(data.agg(stat_fns))
a_out = df[["MathScore", "ReadingScore", "WritingScore"]]
display_stat(a_out)
print("a) general\n")

# b)
is_male = df["Gender_male"] == 1.0
b_out_m = org_df.copy()[is_male][["MathScore", "ReadingScore", "WritingScore"]]
display_stat(b_out_m)
print("b) males\n")
b_out_f = org_df.copy()[~is_male][["MathScore", "ReadingScore", "WritingScore"]]
display_stat(b_out_f)
print("b) females\n")

# c)
data = {"general": a_out, "males": b_out_m, "females": b_out_f}
tmp_df = pd.DataFrame()
for key, i_df in data.items():
    row = i_df.agg("var").to_frame().T
    row.index = [key]
    tmp_df = pd.concat([tmp_df, row])
display(tmp_df)
print("c) variation of scores by group")

        MathScore  ReadingScore  WritingScore
mean    66.559948     69.390081     68.429337
median  67.000000     70.000000     69.000000
std     15.344253     14.760190     15.447817

a) general

        MathScore  ReadingScore  WritingScore
mean    69.038488     65.824657     63.889866
median  69.000000     66.000000     64.000000
std     15.098020     14.434375     14.931485

b) males

        MathScore  ReadingScore  WritingScore
mean    64.119419     72.900825     72.899189
median  64.000000     73.000000     73.000000
std     15.193325     14.226732     14.622703

b) females

          MathScore  ReadingScore  WritingScore
general  235.446099    217.863218    238.635041
males    227.950197    208.351184    222.949240
females  230.837135    202.399911    213.823442

c) variation of scores by group

3. a) Use a statistical test to test the hypothesis:<br>
H0: the mean mathematical scores of females and males are equal.

4. a) Use a statistical test to test the hypothesis:<br>
   H0 Gender did not affect the writing scores.<br>
   H1 Gender affected the writing score.<br>

5. a) Statisticaly test the distribuitions of female and male scores across the three scores columns.<br>
b) Plot the distributions for each of the separate scores in both genders. <br>